header.masthead {
    position: relative;
    background: linear-gradient(180deg, #004AAD, #bbc2c9);
    background-size: cover;
  }

  header.masthead:before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #004AAD, #EDF2F7);

    width: 100%;
    top: 0; }

  @media (min-width: 768px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

